#info-materia{
    text-align: center;
    width: 80%;
    margin: auto;
}

span{
    font-weight: bold;
}
#titulo-de-materia{
    font-size: 1.4em;
}

#boton-volver{
    padding: 0.5em;
}

a{
    font-weight: bold;
    color: black;
}

a:visited{
    color: black;
}
